<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dogs and Cats</title>

     <!-- Include jQuery library  -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

     <!-- Include Tailwind library  -->
    <script src="https://cdn.tailwindcss.com"></script>

     <!-- Include Bootstrap CSS  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.2.0/css/bootstrap.min.css">
    

</head>
<body onload="fetchDogImage(), fetchCatImage()" class="bg-cover bg-center" style="background-image: url('https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')">

<!-- padding, max width, center, bg, rounder corners, shadow, flex, center items, padding between child elements  -->
<div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">

    <!-- Icon -->
    <div class="shrink-0">

        <img class="h-12 w-12" src="https://img.icons8.com/bubbles/256/dog.png" alt="dog icon">

    </div>

    <!-- Fetch button -->
    <div class="text-xl font-medium text-black">

        <button id="fetchDogBtn" onclick="fetchDogImage()" >Fetch new dogs</button>

    </div>

    <!-- Classify button -->
    <div class="text-xl font-medium text-black">

        <button id="show-div" >AI classify</button>

    </div>

</div>  

<!-- dogImage element -->
<div class="p-6 max-w-xs mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4 " >

    <img id="dogImage" src="" alt="Wait to get a dog"></img>

</div>

<!-- Hidden Classify Div -->
<div id="hidden" style="display: none;" class="p-6 max-w-xs mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4 " >

    <!-- Dog Label -->
    <span class="text-xl font-medium text-black" id="dogLabel"></span>

</div>


<!-- padding, max width, center, bg, rounder corners, shadow, flex, center items, padding between child elements  -->
<div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">

    <!-- Icon -->
    <div class="shrink-0">

        <img class="h-12 w-12" src="https://img.icons8.com/?size=512&id=tgLepcPbp6mP&format=png" alt="dog icon">

    </div>

    <!-- Fetch button -->
    <div class="text-xl font-medium text-black">

        <button id="fetchCatBtn" onclick="fetchCatImage()">Fetch new cats</button>

    </div>

    <!-- Classify button -->
    <div class="text-xl font-medium text-black">

        <button id="show-div-cat" >AI classify</button>

    </div>

</div>
    

<!-- padding, max width, center, bg, rounder corners, shadow, flex, center items, padding between child elements  -->
<div class="p-6 max-w-xs mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4 " >
    
    <!-- catImage element -->
    <img id="catImage" alt="Wait to get a cat"></img>

</div>


<!-- Hidden Classify Div -->
<div id="hidden-cat" style="display: none;" class="p-6 max-w-xs mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4 " >

    <!-- cat Label -->
    <span class="text-xl font-medium text-black" id="catLabel"></span>

</div>

<!-- Upload image -->
<div class="p-6 max-w-xs mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4 " >
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="image">Upload an image:</label>
        <input type="file" name="image" id="image">
    </form>
</div>


<!-- padding, max width, center, bg, rounder corners, shadow, flex, center items, padding between child elements  -->
<div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">

    <!-- Icon -->
    <div class="shrink-0">

        <img class="h-12 w-12" src="https://img.icons8.com/?size=512&id=111409&format=png" alt="dog icon">

    </div>


    <!-- Classify button -->
    <div class="text-xl font-medium text-black">

    <button type="submit" id="fetchUploadedImage" onclick="fetchUploadedImage()" >Submit</button>

    </div> 
    
    <div class="text-xl font-medium text-black">


        <button id="" >AI classify</button>

    </div>

</div>


<!-- Hidden Classify Div -->
<div id="hidden-cat" style="display: none;" class="p-6 max-w-xs mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4 " >

    <!-- superposition Label -->
    <span class="text-xl font-medium text-black" id="superpositionLabel"></span>

</div>

<!-- Labels -->
<script>
    const showDogDiv = document.getElementById("show-div");
    const hiddennDogDiv = document.getElementById("hidden");

    showDogDiv.addEventListener("click", function() {
    hiddennDogDiv.style.display = "block";
});

</script>

<script>
    const showcatDivButton = document.getElementById("show-div-cat");
    const hiddencatDiv = document.getElementById("hidden-cat");

    showcatDivButton.addEventListener("click", function() {
        hiddencatDiv.style.display = "block";
});

</script>

<script>
    const showcatDivButton = document.getElementById("show-div-cat");
    const hiddencatDiv = document.getElementById("hidden-cat");

    showcatDivButton.addEventListener("click", function() {
        hiddencatDiv.style.display = "block";
});

</script>


<script>

function fetchDogImage() {
    $.get('/get_dog/', function(data) {
        var message = data['message'];
        var label = data['label'];
        $('#dogImage').attr('src', message);
        $('#dogLabel').text('The AI has classified this as a ' + label);
        hiddennDogDiv.style.display = "none";
    })
    .fail(function() {
        console.log('Failed to fetch dog image.');
    });
}

function fetchCatImage() {
    $.get('/get_cat/', function(data) {
        var url = data['url'];
        var label = data['label'];
        $('#catImage').attr('src', url);
        $('#catLabel').text('The AI has classified this as a ' + label);
        hiddencatDiv.style.display = "none";
    })
    .fail(function() {
        console.log('Failed to fetch cat image.');
    });
}

function fetchUploadedImage() {
    $.get('/upload_image/', function(data) {
        var url = data['url'];
        var label = data['label'];
        $('#superpositionImage').attr('src', url);
        $('#superpositionLabel').text('The AI has classified this as a ' + label);
        hiddencatDiv.style.display = "none";
    })
    .fail(function() {
        console.log('Failed to fetch image.');
    });
}


    </script>
</body>
</html>
