<!DOCTYPE html>
<html>
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dogs and Cats</title>

    <!-- Include jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Include Tailwind library -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.2.0/css/bootstrap.min.css">
    

</head>
<body onload="fetchDogImage()" class="bg-red">


    <div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">
        <div class="shrink-0">
            <img class="h-12 w-12" src="https://img.icons8.com/bubbles/256/dog.png" alt="dog icon">
        </div>

        <div class="text-xl font-medium text-black">
            <button id="fetchDogBtn" onclick="fetchDogImage()" >Fetch Dog</button>
        </div>

    </div>

    <!--padding, max width, center, bg, rounder corners, shadow, flex, center items, padding between child elements -->

          <div class="p-6 max-w-xs mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">
            <img id="dogImage" src="" alt="Click to get a dog">
        </div>



    <script>
        function fetchDogImage() {
            $.get('/get_dog/', function(data) {
                var message = data['message'];
                $('#dogImage').attr('src', message);
            })
            .fail(function() {
                console.log('Failed to fetch dog image.');
            });
        }
    </script>
</body>
</html>
