<!DOCTYPE html>
<html>
<head>
    <title>Dogs and Cats</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.2.0/css/bootstrap.min.css">
    <script src="https://unpkg.com/petite-vue@1.0.3/dist/petite-vue.min.js"></script>
</head>
<body>
    <h1>Hello from Petite-Vue and Bootstrap!</h1>
    <p>Welcome to Dogs and Cats project.</p>

    <script src="{% static 'js/petite-vue.min.js' %}"></script>
</body>
</html>
